.title {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  padding: 0;
  
}
.tr {
  display:grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid burlywood;
  border-radius: 3px;
  margin:6px 4px 4px 4px;
  padding: 2px;
}

.sum {
  text-align: right;
  font-weight: bold;
  font-size: 12px;  
}
