.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 60px;
  width: 100vw;
  height: 100vh;
  justify-content: stretch;
  justify-items: stretch;
}

.btn_signout {
  border-radius: 50%;
  background-color: none;
  padding: 0;
  margin: 0;
  border: none;
}
.main {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 50% 50%;
  justify-content: stretch;
  justify-items: stretch;
  grid-template-areas:
    "budget budget"
    "debit credit";

  background-color: lightgoldenrodyellow;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  overflow-y: auto;
}
