.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 60px;
  width: 100vw;
  height: 100vh;
  justify-content: stretch;
  justify-items: stretch;
}

.btn_signout {
  border-radius: 50%;
  background-color: none;
  padding: 0;
  margin: 0;
  border: none;
}
.main {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 50% 50%;
  justify-content: stretch;
  justify-items: stretch;
  grid-template-areas:
    "budget budget"
    "debit credit";

  background-color: lightgoldenrodyellow;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  overflow-y: auto;
}
.btns {
  display: flex;
}

.btn_debit,
.btn_credit {
  width: 50%;
  border: none;
}

.btn_debit {
  width: 50%;
  background-image: linear-gradient(
    to right,
    #134e5e 0%,
    #71b280 51%,
    #134e5e 100%
  );
}
.btn_debit {
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn_debit:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn_credit {
  background-image: linear-gradient(
    to right,
    #ff8008 0%,
    #ffc837 51%,
    #ff8008 100%
  );
}
.btn_credit {
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn_credit:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
