.tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* height: 24px; */
  /* border: 1px solid var(--table-item); */
  /* background-color: var(--table-item-background); */

  margin: 1px 4px;
  border-radius: 3px;
}
.tr:hover,
.tr:active {
  background-color: var(--table-item);
}

.tr p {
  padding: 3px 0px;
  margin: 0;
}

.tr:hover .button,
.tr:active .button {
  display: block;
}

.amount {
  text-align: right;
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
